body{
  text-align: center;
  min-height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: linear-gradient(#0b004e,#1d152f,#002834);


}
.filteredCrypto{
  text-align: center;
}

.watchlist-button:hover{
  opacity: 0.7;
}
.search-crypto-input{
  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px
}
.newsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin-left: 15%;
  gap: 15px;
}
.newsContainer div{
  background-color: white;
  border-radius: 10px;
  min-height: 25rem;
  height: auto;
}
.navContainer a{
  margin-right: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navContainer a:hover{
  opacity: 0.7;
}
.newsContainer div a{
  color: black;
  
}
.thumbnail {
  width: 100%;
  height: 60%;
}
.container{

  width: 70%;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 2rem;
  background-color: #1e1244;
  color: white;
 
}
.container div{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: auto;

  border-radius: 20px;
  gap: 5px;
  width: 100%;
  margin-left: 10px;
  cursor: pointer;
}
.green{
  color: green;
}
.red{
  color: red;
}
.container hr{
  background-color: black;
}
.chart{
  width: 50%;
  margin-left: 25%;
}
h1{
  color: white;
}
.filteredCrypto .filteredDataContainer{
  width: 40%;
  margin-left: 30%;
  text-align: left;
}
.filteredCrypto .filteredDataContainer p span{
  float: right;
}
.filteredCrypto{
  color: white;
}
.filteredCrypto img{
  width: 200px;
  margin-top: 3rem;
}
.container div:hover{
  transform: scale(1.01);
} 
.container .specialDiv:hover{
  transform: scale(1);
}
.filteredCrypto .icon {
  font-size: 100px;
  margin-top: 1rem;
  animation: spin 3s infinite linear;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
  transform: rotate(360deg)
  }
}
.container div button{
  height: 25px;
  border-radius: 10px;
  background-color: tomato;
  border: none;
  margin-top: 20px;
  width: 80%;
  cursor: pointer;
}
.container div button:hover{
  transform: scale(1.1);
}
.container  img{
  width: 30px;
  border-radius: 50%;
}
.logo {
  width: 20px;
  height: 20px;
}
.watchlist{
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: white;
  left: 0;
  width: 200px;
  max-height: 40px;
  overflow: hidden;
  cursor: pointer;

  transform-origin: top;
 
}
.icon{
  font-size: 20px;
  margin-top: 5px;
}
.watchlist.open{
  max-height: 80vh;
  overflow: scroll;
  height: auto;

}
.news-count{
  width: 100px;
  height: 25px;
  background-color: yellow;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}
.news-count:hover{
  opacity: 0.7;
}


@media (max-width: 767px){
  .filteredCrypto .filteredDataContainer{
    width: 80%;
    margin-left: 10%;
  margin-top: 2rem;
  }
  .chart{
    width: 80%;
    margin-left: 10%;
  }
  .newsContainer{
   grid-template-columns: 1fr; 
  }
  .navContainer {
    margin-left: 30px;
    margin-top: 5rem;
  }
  .container{
    width: 100%;
    margin-left: 0;
   
  }
  .container div button{
    width: 100px;
  height: 40px;
  }
  .container div{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1217px){
  .filteredCrypto .filteredDataContainer{
    width: 80%;
    margin-left: 10%;
  margin-top: 2rem;
  }
  .container{
    width: 90%;
   margin-left: 5%;
  }
  .container div button{
    width: 100px;
  height: 30px;
  }
  .newsContainer{
    grid-template-columns: 1fr 1fr; 
   }
}