body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkcyan;

}
.watchlist-button{
  width: 110px;
  height: 27px;
  border-radius: 20%;
margin-bottom: 5px;
  background-color: coral;
  border: 1px solid gray;
  cursor: pointer
  ;

}
.watchlist-button:hover{
  opacity: 0.7;
}
.search-crypto-input{
  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px
}
.newsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin-left: 15%;
  gap: 15px;
}
.newsContainer div{
  background-color: white;
  border-radius: 10px;
  min-height: 25rem;
  height: auto;
}
.navContainer a{
  margin-right: 20px;
  color: black;
}
.newsContainer div a{
  color: black;
  
}
.thumbnail {
  width: 100%;
  height: 60%;
}
.container{

  width: 65%;
  min-height: 200px;
  height: auto;
  border-radius: 20px;
  margin-left: 17.5%;
  margin-top: 2rem;
  background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container div{
  border: 1px solid black;
  height: auto;
  margin-top: 2rem;
  border-radius: 20px;
  gap: 5px;
  width: 90%;
  margin-left: 10px;
}
.logo {
  width: 20px;
  height: 20px;
}
.watchlist{
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: white;
  left: 0;
  width: 200px;
  max-height: 40px;
  overflow: hidden;
  cursor: pointer;

  transform-origin: top;
 
}
.icon{
  font-size: 20px;
  margin-top: 5px;
}
.watchlist.open{
  max-height: 10000px;
  overflow: visible;
  height: auto;

}


@media (max-width: 767px){
  .newsContainer{
   grid-template-columns: 1fr; 
  }
  .navContainer a{
    margin-left: 30px;
  }
  .container{
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1217px){
  .container{
    width: 90%;
   margin-left: 5%;
  }
  .newsContainer{
    grid-template-columns: 1fr 1fr; 
   }
}